.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    h1{
        margin-top: 5rem;
    }
    margin-bottom: 0.7rem;
    .applicationHeader{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .subtitle{
        text-align: center;
        width: 100%;
        a{
            color:#06c;
            margin:2rem;
            cursor: pointer;
            font-size: 1.5rem;
            text-decoration: 0;
            &:hover{
                filter: brightness(0.8)
            }
        }
    }
    img{
        padding: 2rem;
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
    }
    
}
.containerModal{
 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   font-size: 1.7rem;
   color: white;
   button{
       height: 3rem;
       font-size: 1.5rem;
       cursor: pointer;
       background: rgba(0,0,0,0.8);
       border: 0;
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 1rem;
       &:hover{
           filter: invert(10%);
       }
       a{
           text-decoration: none;
           color:#06c;
           width: 100%;
           height: 100%;
           display: flex;
           align-items: center;
           justify-content: center;
           &:hover{
                filter: brightness(0.8);
           }
       }
      
   }
}


