*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F7FAFC;
}

html{
    @media(max: width 1080px){
        font-size: 93.75%;
    }
    @media(max-width:720px){
        font-size: 77.5%;
       h1,h2,h3{
           font-size:14px;
           margin-top: 2rem;
       }
    }
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h2{
    font-family: 'Poppins', sans-serif;
}

:root{
    --gray:rgba(0,0,0,0.8);
}